/* ============================= */
/* GENERALS */
/* ============================ */
body {
	font-size: 15px;
}
a {
	color: #b4ad9e;
}

a:hover {
	text-decoration: none;
	color: #b4ad9e;
}

.col-md-6 {
	box-sizing: border-box;
	display: flex;
	justify-content: safe center;
	margin: 0 10px;
}

.container {
	max-width: 70%;
	padding: 0;
}

/* ============================= */
/* NAVBAR */
/* ============================ */
.navbar {
	width: 100%;
}
.nav-link {
	padding: 10px 0 0 0;
	width: auto;
	height: auto;
	font-size: 14px;
	line-height: 24px;
	color: #626262;
	font-family: "Playfair Display";
	font-weight: 400;
	text-align: center;
	text-transform: uppercase;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}

.navbar-expand-lg .navbar-nav {
	padding-top: 15px;
	justify-content: space-around;
	margin-right: -30px;
}

.navbar-expand-lg {
	padding: 0;
}

.logo {
	margin: 10px 0 0 0;
}

.nav-item {
	margin-right: 30px;
}

.navbar-toggler {
	margin-top: 10px;
}

/* ============================= */
/* INTRO BLOCK */
/* ============================ */

#introImage {
	margin-top: 50px;
	width: 100%;
	margin-bottom: 100px;
}

#commentLink {
	margin: 55px 0 100px 0;
}

div:nth-of-type(2) > h2 {
	font-size: 30px;
	line-height: 24px;
	color: #626262;
	font-family: "Playfair Display";
	font-weight: 400;
}

.article_link {
	font-size: 14px;
	font-family: "Ubuntu";
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.article_link h2 {
	font-size: 1.5em;
}
.article_content {
	width: 100%;
	height: 100%;
	font-size: .9em;
	line-height: 24px;
	color: #626262;
	font-family: "Playfair Display";
	font-weight: 400;
}

/* ============================= */
/* CARDS */
/* ============================ */

.card {
	border: none;
	margin-bottom: 135px;
}

.card p {
	font-style: "Playfair Display";
	font-weight: 400;
	color: #626262;
	font-size: 0.9em;
}

.card-body {
	padding: 30px 25px 0 0;
}

.card h5 {
	margin: 25px 0 40px 0;
	font-size: 1.5em;
	line-height: 35px;
	color: #626262;
	font-family: "Playfair Display";
	font-weight: 400;
}

.card_link {
	font-size: 14px;
	font-family: "Ubuntu";
	font-weight: 300;
	text-transform: uppercase;
	margin-bottom: 30px;
}

.col-md-6,
.col-sm-12,
.col-xs-12 {
	max-width: 90%;
	padding: 0;
}

/* ============================= */
/* SIGN UP */
/* ============================ */
.after_card {
	z-index: -1001;
	color: #333333;
	font-family: "Playfair Display";
	font-weight: 400;
	width: 100%;
	background: url("images/formbg.jpg") no-repeat;
	background-size: cover;
	padding: 75px 0;
	text-align: center;
	margin-bottom: 90px;
}

.after_card h3 {
	font-size: 1.5em;
}

.form-sign-up {
	background: url("images/btn.jpg") no-repeat right;
	border: none;
	border-radius: 0;
	border-bottom: solid 1px black;
	outline: none;
	width: 45%;
	padding: 0;
	margin: 70px 0;
	height: calc(1.5em + .75rem + 2px);
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
}

/* ============================= */
/* BUTTON */
/* ============================ */

.load-more-btn {
	font-size: 20px;
	line-height: 24px;
	font-family: "Playfair Display";
	font-weight: 400;
	text-align: center;
	width: 100%;
	height: 150px;
}

.load-more-btn > a {
	color: #666666;
	border: 1px solid black;
	padding: 20px 30px;
}

/* ============================= */
/* FOOTER */
/* ============================ */
footer {
	padding-top: 2%;
	width: 100%;
	height: 100px;
	background: url("images//formbg.jpg") no-repeat;
	background-size: cover;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.terms-info li,
.social-media li {
	list-style-type: none;
	display: inline-block;
	padding-right: 30px;
	font-size: .9em;
	line-height: 25px;
	color: black;
	font-family: "Playfair Display";
	font-weight: 400;
}

.terms-info ul {
	padding: 0;
	margin: 0;
}

.social-media ul {
	padding-top: 30px;
	height: 100%;
	padding: 0;
}

.footer-link {
	color: black;
}

.footer-link:hover {
	color: black;
}

footer a:hover {
	font-size: 20px;
}
